[Desktop Entry]
Exec=chmod +x /config/configure.sh; /config/configure.sh
Icon=dialog-scripts
Name=configure.sh
Path=
Type=Application
X-KDE-AutostartScript=true
