[Desktop Entry]
Exec=/config/.config/autostart-scripts/configure.sh
Icon=dialog-scripts
Name=configure.sh
Path=
Type=Application
X-KDE-AutostartScript=true
